:root {
    --color-primary: #112D4E;
    --color-bg-primary: #F8F9FA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.list{
    width: 100%;
    padding: 63px 0 81px 0;
    display: flex;
    justify-content: center;
    background-color: var(--color-primary);
}
.list-container{
    width: 95%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.list-container-tittle{
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: var(--color-bg-primary);
}
.list-container-table{
    width: 100%;
    background: var(--color-bg-primary);
    border-radius: 30px;
    padding: 34px 42px 34px 42px;
}
.list-container-table-head{
    width: 100%;
    display: flex;
    gap: 10px;
    padding: 12px 0;
    border-bottom: 1px solid var(--color-primary);
}
.list-container-table-head-text{
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.01em;
    color: var(--color-primary);
}
.list-container-table-row{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 0;
    border-bottom: 1px solid var(--color-primary);
}
.list-container-table-row-text{
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.01em;
    color: var(--color-primary);
}
.name{
    max-width: 250px;
    min-width: 200px;
}
.email{
    max-width: 250px;
    min-width: 200px;
}
.phone{
    max-width: 150px;
}
.list-container-table-row span{
    display: none;
}

@media(max-width:768px){
    .list-container-table{
        background-color: transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 20px;
    }
    .list-container-table-head{
        display: none;
    }
    .list-container-table-row{
        flex-direction: column;
        background: var(--color-bg-primary);
        border-radius: 30px;
        padding: 15px;
        border: 0;
        align-items: flex-start;
    }
    .name{
        font-size: 20px;
        font-weight: 500;
        max-width: fit-content;
        min-width: fit-content;
        border-bottom: 1px solid var(--color-primary);
        padding: 20px 0;
    }
    .list-container-table-row-text span{
        display: inline-block;
        width: 100%;
        min-width: 100px;
        max-width: 100px;
        font-weight: 700;
    }
    .list-container-table-row-text {
        width: 100%;
        display: flex;
    }
}