:root {
    --color-primary: #112D4E;
    --color-bg-primary: #F8F9FA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

footer {
    background-color: var(--color-bg-primary);
    width: 100%;
    padding: 50px 0 30px;
}

.logo {
    width: 96px;
    height: 80px;
}

.inner-foot {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.foot-main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    .logo-box {
        display: flex;
        flex-direction: column;
    }
}

.foot-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    .content {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .icon {
        height: 30px;
        display: flex;
        gap: 30px;
    }
}

.foot-line {
    max-width: 850px;
    width: 100%;
    height: 1px;
    background-color: var(--color-primary);
}

.foot-text {
    color: var(--color-primary);
    font-weight: 500;
    font-size: 14px;
    line-height: 128.6%;
}
