:root {
    --color-primary: #112D4E;
    --color-bg-primary: #F8F9FA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

header {
    background-color: var(--color-bg-primary);
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
}

.inner-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.logo {
    width: 96px;
    height: 80px;
}

.head-text {
    color: var(--color-primary);
    font-weight: 500;
    font-size: 32px;
    font-family: "Kaushan Script", cursive;
    font-style: italic;
}

@media screen and (max-width: 768px) {
    .head-text {
        font-size: 18px;
    }
    
    .hidden {
        display: none;
    }
}